@page "/manage_piplines"
@using AlaktuManager.Shared
@inject HttpClient Http

<PageTitle>Alaktu. Manage piplines</PageTitle>

<h1>Manage piplines</h1>

@if (piplines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pipline in piplines)
            {
                <tr>
                    <td>@pipline.Id.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Pipline[]? piplines;

    protected override async Task OnInitializedAsync()
    {
        piplines = await Http.GetFromJsonAsync<Pipline[]>("api/Piplines");
    }
}