@page "/manage_piplines"
@using AlaktuManager.Client.Services
@using AlaktuManager.Shared
@inject HttpClient Http

<PageTitle>Alaktu. Manage piplines</PageTitle>

<h1>Manage piplines</h1>

@if (piplines == null)
{
    <div class="align-self-center">
        <RadzenCard>
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
        </RadzenCard>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pipline in piplines)
            {
                <tr>
                    <td>@pipline.Id.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

   public List<Pipline> piplines { get; set; }

    [Inject]
    public IPiplineService piplineService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        piplines = (await piplineService.GetPiplines()).ToList();
    }

}